<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <h1> <%= index %> </h1>
    <h1> <%= codeName %> </h1>
    <!-- <input type="submit"> -->
    <!-- <button type="submit">submfcccxcxcit</button> -->
    <a href="/1"><h1>BACK !!!</h1></a>
</body>
</html>